.jumbotron{
    padding-top:10px;
    background-color:rgb(173, 173, 197);
}
.container-2{
    background-color: rgb(173, 173, 197);
}
.background{
    background-color:rgb(173, 173, 197);
}

.container1{
    background-color:rgb(173, 173, 197);
}

.zoom{
    overflow: hidden;
}
.zoom img{
    object-fit: cover;
    transition: transform 0.5s;
    
}
.zoom :hover img{
    transform: scale(1.1);

}



